* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 1400px) {
  .footer__contact{
    padding-left: 0px !important;
  }
  /* .personal h3 {
    font-size: 32px !important;
  }
  .home-section .banner .banner-content .media .d-flex {
    padding-right: 50px !important;
   }  */
  .home-section .banner .banner-content .media .d-flex img {
    width: 418px !important;
    height: 440px !important;
  }
  /* .media{
    margin-top: -240px !important;

  } */
}
@media only screen and (max-width: 1200px) {
  .footer__contact li {
    font-size : 12px !important;

  }
  .featured img{
    height: 250px !important;
    width: 400px !important;
  }


  .home-section .banner .banner-content .media .d-flex {
    padding-bottom: 110px !important;
   } 
  .media{
    margin-top: 0px !important;

  }
  .personal h3 {
    font-size: 32px !important;
  }
  .home-section .banner .banner-content .media .d-flex img {
    width: 468px !important;
    height: 490px !important;
  }
  .home-section .banner {
    margin-top: -65px !important;

  }
  
}
@media only screen and (max-width: 992px) {
 
  .featured .fe-box img{
    width: 100% !important;
    height: 100% !important;
    padding: 20px 0px;
  }
  .home-section .banner .banner-content .media .d-flex img {
    width: 268px !important;
    height: 290px !important;
  }
  .rep .basic {
    margin-left: -320px !important;
  }
  .rep .personal-social{
    margin-top: -152px !important;

  }
  .home-section .banner {
    margin-top: -137px !important;
    
  }

}
@media only screen and (max-width: 768px) {
   /* *{
    border: 1px solid black !important;
  } */
  .footer__top{
    padding: 50px 24px !important;

  }
  .footer__form button{
    padding: 15px 15px !important;
    font-size: 14px !important;
  }
  .footer__form input {
    padding: 0px 0px 0px 10px !important;
  }
  .cvon
  {
    margin: 70px 0px 0px 0px !important;
  }
  .personal h3 {
    font-size: 26px !important;
  }
  .home-section .banner .banner-content .media .d-flex img {
  width: 168px !important;
  height: 190px !important;
  }
  .home-section .banner .banner-content .media .d-flex {
    padding-right: 30px !important;
   } 
   .rep .basic {
    margin-left: -200px !important;
  }
  .rep .personal-social{
    margin-top: -152px !important;

  }

}
@media only screen and (max-width: 575px) {
 
}

.part-5 .img-item img{
  width: 100%;
  
}
.portfolio__item {
  margin-bottom: 3rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
  transform: skewX(-30deg) translateX(-50%);
  transition: 0.5s;
  height: 100%;
  width: 50%;
}
.portfolio__item:hover .portfolio__overlay {
  transform: skewX(-30deg) translateX(0);
}
.portfolio__olay {
  position: absolute;
  top: 0;
  left: 13px;
  width: 381px;
    height: 207px;
  background-color: rgba(0, 0, 0, .4);
  transition: all .75s;
  border-radius: 12px;

}

.portfolio__plus i {
width: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
    left: 13px;
}

.portfolio__plus a {
  position: absolute;
  top: 15px;
    right: 15px;
    font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background:linear-gradient(to right, #766dff 0%, #3356a9 48%, #766dff 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all .75s;
  cursor: pointer;
  opacity: 0;
  text-decoration: none;
}

.portfolio__text {
  position: absolute;
  bottom: -80px;
  left: 10px;
  text-align: left;
  transform: translateY(150px);
  transition: all .75s;
  opacity: 0;
}

.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__item:hover .portfolio__plus a {
  transform: translate(0);
  opacity: 1;
}

.portfolio__text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

.portfolio__text p {
  color: #fff;
  opacity: .7;
}
#top-main-navigation {
  background: linear-gradient(-50deg, #addc13, #0c85ff, #ff2525, #17a2b8);
  background-size: 320% 200%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
header form input {
  width: 35px;
  height: 35px;
  background: #fff url(../img/search.png) 10px;
  background-repeat: no-repeat;
  outline: none;
  background-position: center;
  border: solid 1px #fff;
  padding: 0 10px;
  border-radius: 20px;
  transition: all 0.5s;
}

header form input:hover {
  cursor: pointer;
}

header form input.width-200 {
  width: 200px;
  border-radius: 20px;
  background-position: 9px 9px;
  padding-left: 30px;
}

header {
  height: 90px;
  background-color: transparent;
  /* background-color: black; */
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0px;
}

header.header-fixed {
  height: 70px;
  /* background-color: #222222; */
  background-color: black;
  transition: all 0.8s;
}

header.header-fixed .dropdown i {
  color: #fff;
}
header.header-fixed .switch-icon i {
  color: #fff;
}

header.header-fixed a {
  color: #fff;
  transition: all 0.8s;
}

.header__left a {
  color: #fff;
  font-size: 37px;
}

.header__left a:hover {
  transition: all 0.8s;
  color: rgb(74, 93, 204);
  text-decoration: none;
}

.header__sun input {
  display: none;
}

.header__sun i {
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.header__sun i:hover {
  color: #000;
  transition: all 0.5s;
}

.header__bars {
  position: relative;
}

.header__bars input {
  display: none;
}

.header__bars i {
  font-size: 29px;
}

.dropdown button {
  border: none;
  outline: none;
  background-color: transparent !important;
}

.dropdown-menu .dropdown-item {
  text-align: center !important;
  padding: 10px 60px;
  text-transform: uppercase;
  font-weight: 600;
}

.dropdown button:focus {
  border: none;
  background-color: transparent !important;
}

.dropdown i {
  color: white;
}

.dropdown-item:hover {
  color: blueviolet;
  background-color: transparent !important;
  transition: all 0.8s;
}

.dropdown-item:first-child {
  color: #000;
  padding-top: 0px;
}

.dropdown-item:last-child {
  padding-bottom: 0px;
}

.dropdown-menu-children {
  padding-top: 10px;
  height: 100%;
  background-color: white;
  animation: height 0.5s linear;
  overflow: hidden;
}

.dropdown-menu {
  margin-top: 5px;
  position: absolute;
  padding: 0;
  /* will-change: transform; */
  left: -50% !important;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  border: 0;
  background-color: transparent;
  /* translate: transform(-50%, -50%); */
  transform: translate3d(-195px, 32px, 0px) !important;
}

@keyframes height {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}


ul.submenu {
  color: #000;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  list-style-type: none;
  background-color: white;
  position: absolute;
  min-width: 232px;
  top: 45px;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  max-height: 400px;
}

.header__bars input:checked ~ ul.submenu {
  max-height: 400px;
  transition: max-height 0.5s ease-out;
}

.padding-50 {
  height: 100px;
}

.header__title {
  position: relative;
  text-decoration: none;
  color: #fb811e;
}

.header__title i {
  position: absolute;
  top: -4px;
  left: 55px;
  font-size: 20px;
}

h1 {
  font-weight: 700;
  font-size: 30px;
  color: #222222;
}

p {
  color: #777777;
  text-align: justify;
}
.home-section {
  position: relative;
  z-index: 1;
  background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  margin-bottom: 200px;
}
.home-section .home-menu {
  min-height: 700px;
    border-radius: 12px;
    position: relative;
    bottom: -200px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 20px 80px 0px rgb(153 153 153 / 30%);
}
.home-section .banner {
  position: relative;
  width: 100%;
  min-height: 700px;
  display: flex;
}
.home-section .banner .banner-content {
  color: #222222;
  vertical-align: middle;
  align-self: center;
  text-align: left;
 }
 .media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
 }
 .home-section .banner .banner-content .media .d-flex {
  padding-right: 80px;
 } 
 .home-section .banner .banner-content .media .d-flex img{
  width: 668px;
  height: 690px;
  vertical-align: middle;
  border-style: none;
  border-radius: 10px;
 }
 .home-section .banner .banner-content .media .media-body {
  vertical-align: middle;
  align-self: center;
 }
 .personal h6{
  font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #222222;
 }
 .personal h3{
  font-weight: 600;
  font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222222;
 }
 .personal h4 {
  font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #222222;
 }
 .personal p {
  font-family: "Roboto", sans-serif;
  max-width: 540px;
  color: #777777;
  margin-bottom: 40px;
}
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.personal .basic li {
  margin-bottom: 15px;
}
.personal .basic li a {
  position: relative;
  padding-left: 40px;
  font-size: 16px;
  color: #777777;
  text-decoration: none;
}

.personal .basic li a i {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #766dff;
}
.personal .personal-social {
  margin-top: 45px;
}
.personal .personal-social li {
  display: inline-block;
  margin-right: 7px;
}
.personal .personal-social li a {
  line-height: 40px;
  width: 40px;
  background: #eae8fd;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  /* color: #fff; */
  font-size: 16px;
}

.personal .personal-social a:hover {
    color: #766dff;
    text-decoration: underline;
}
.personal .personal-social li a i{
  display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.part-2 {
  background-color: #fff;
}
.part-2 .about {
  margin-top: 50px;
}
.part-2 .about h1 {
  font-weight: 700;
  font-size: 36px;
  color: #222222;
}
.part-2 .about p {
  color: #777777;
  text-align: justify;
}
.part-2 .about-box--item {
  border: 1px solid #eeeeee;
  border-radius: 5px;
}
.part-2 .about .progress-br {
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
  padding: 5px;
  border-radius: 10px;
}
.part-2 .about .progress {
  border: 1px #777777;
  height: 10px;
  border-radius: 10px;
  background: #e8e8e8;
}
.part-2 .about .progress-bar {
  transition: width 0.6s ease;
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  transition: width 0.6s ease;
  height: 10px;
  border-radius: 5px;
  vertical-align: middle;
  align-self: center;
}
.mytabs_area {
  background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}
.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.tabs_inner .nav.nav-tabs {
  display: block;
  text-align: center;
  border: none;
  margin-bottom: 120px;
}

.tabs_inner .nav.nav-tabs li {
    display: inline-block;
    margin-right: 8px;
}
.tabs_inner .nav.nav-tabs li a.active {
  background: #fff;
  color: #222222;
}
.tabs_inner .nav.nav-tabs li a {
  margin: 0px;
  line-height: 50px;
  border-radius: 5px;
  padding: 0px 40px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border: 1px solid #9ab5f5;
  background: rgba(255, 255, 255, 0.1);
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.tab-content>.active {
  display: block;
}
.tab-content>.tab-pane {
  display: none;
}
.fade {
  transition: opacity .15s linear;
}
.tabs_inner .tab-content .tab-pane .list {
  max-width: 460px;
  margin: auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
}
.tabs_inner .tab-content .tab-pane .list:before {
  content: "";
  height: 100%;
  width: 5px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 46%;
  transform: translateX(-50%);
  top: -5px;
}
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.tabs_inner .tab-content .tab-pane .list li span {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 46%;
  top: 30px;
  transform: translateX(-50%);
}
.tabs_inner .tab-content .tab-pane .list li span:before {
  content: '';
  height: 7px;
  width: 7px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 52%;
  top: 4px;
  transform: translateX(-50%);
}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.tabs_inner .tab-content .tab-pane .list li .media .d-flex {
  padding-right: 100px;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.tabs_inner .tab-content .tab-pane .list li .media .d-flex p {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0px;
  padding-top: 20px;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
}
.tabs_inner .tab-content .tab-pane .list li .media .media-body h4 {
  color: #fff;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.tabs_inner .tab-content .tab-pane .list li .media .media-body p {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0px;
}
.tabs_inner .tab-content .tab-pane .list li {
  margin-bottom: 60px;
  position: relative;
}
.cvon {
  margin: 20px 0px 20px;
}
.cvon .primary {
  background: linear-gradient(to right, #766dff 0%, #3356a9 48%, #766dff 100%);
  border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
color: #fff;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
padding: 10px;
border: 2px none #b1154a;
}
.featured {
  background-color: #a2a2a2;
  padding-top: 50px;
  padding-bottom: 100px;
}
.featured .fe-box {
  padding-bottom: 50px;
  line-height: 30px;
}
.featured .fe-box p {
  margin: 0px;
  font-size: 18px;
}
.featured .fe-box h1 {
  color: #cb7c82;
  font-size: 42px;
}
.featured .fe-box .row {
  background-color: #473e4b;
  margin-top: 50px;
  border-radius: 5px;
  color: white;
  padding: 40px;
}
.featured .fe-box .row:first-child {
  background-color: #1f1f1f;
}
.featured .fe-box img {
  height: 247px;
  width: 472px;
}
.part-5 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.part-5 h1 {
  font-weight: 700;
}
.part-5 p {
  margin-bottom: 60px;
}
.part-5 li {
  margin-right: 40px;
  transition: 0.3s;
  font-weight: 500;
  font-size: 12px;
  list-style: none;
  cursor: pointer;
}
.part-5 li:hover {
  color: #766dff;
}
.part-5 .img-item img {
  width: 381px;
  height: 207px;
  transition: 0.4s;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.part-5 .img-item img:hover {
  opacity: 0.7;
}
.part-5 .img-item h5 {
  font-weight: 700;
  padding-top: 14px;
}
.part-5 .img-item p {
  padding-bottom: 30px;
}
.part-5 button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.part-5 button a {
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(to right, #766dff 0%, #86e8ff 48%, #766dff 100%);
  background-size: 200% auto;
  padding: 0px 40px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all 300ms linear 0s;
}
.part-5 button a:hover {
  background-position: right center;
  color: #fff;
}

.part-6 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #f9f9ff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.part-6 h5 {
  font-weight: 700;
}
.part-6 .testi_item {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  background: #fff;
  padding: 40px 28px;
}

.footer {
  /* background-image: url(../Img/bg4.png); */
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

.footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1199px;
  margin: auto;
}

.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}

.footer__text {
  width: 50%;
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}

.footer__form {
  width: 50%;
}

.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all .5s;
}

.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(to right, #766dff 0%, #3356a9 48%, #766dff 100%);
  background-size: 200%;
  border-color: transparent;
  transition: all .5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}

.footer__form button:hover {
  background-position: right center;
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 25%;
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all .5s;
}

.footer__item li {
  padding: 0.5rem 0;
  list-style: none;
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all .5s;
  text-decoration: none;
}

.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #766dff 0%, #3356a9 48%, #766dff 100%);
  display: block;
  border-radius: 50px;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer__item h3::after {
  width: 45px;
  left: 20px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #766dff 0%, #3356a9 48%, #766dff 100%);
  background-size: 200%;
}

.footer__item h3::before {
  width: 15px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #766dff 0%, #3356a9 48%, #766dff 100%);
  background-size: 200%;
}

.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__left span {
  color: #f55f8d;
}

.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  transition: all .5s;
}
.backtotop {
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, #766dff 0%, #3356a9 48%, #766dff 100%);
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all .2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

@keyframes upToDown {
  49% {
      transform: translateY(100%);
  }
  50% {
      opacity: 0;
      transform: translateY(-100%);
  }
  51% {
      opacity: 1;
  }
}